/* CENTER EVERYTHING */
section.main > div {
    max-width: 900px !important;
    margin: auto !important;
}

/* BIG RUN BUTTON */
div[data-testid="stButton"] > button[kind="primary"] {
    height: 50px !important;
    font-size: 16px !important;
    border-radius: 10px !important;
}

/* FILE GRID SPACING */
[data-testid="stFileUploader"] {
    margin-bottom: 10px !important;
}
